<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @level.question.html_safe %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @level.answer %>
</p>

<p>
  <strong>Link:</strong>
  <a href="<%= @level.link %>">Link</a>
</p>

<p>
  <strong>Hint:</strong>
  <%= @level.hint %>
</p>


<%if current_user.is_admin == true%>
	<%= link_to 'Edit', edit_level_path(@level) %> |
	<%= link_to 'Back', levels_path %>
<%else%>
	<a href="/levels/<%=@l.to_i+1%>">Next Level</a>
<%end%>
